
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif, Arial;
}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85, 85, 85);
}


/* transition */

a, .btn{
    transition: all 300ms ease;
}

/* nav deskastop */

nav, 
.nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-content: center;
    height: 17vh;
}